.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 17.8rem 3rem 17.8rem 3rem;
}

.content {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.content h1 {
  color: #c2baba;
  font-family: Poppins;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: auto;
  max-width: 12ch;
}

.content p {
  color: #928f8f;
  font-family: Roboto;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: auto;
}

.home {
  max-width: 100%;
}

.image img {
  max-width: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 3rem;

  padding-top: 9rem;
}

.menu li,
a {
  text-decoration: none;
  list-style: none;

  color: #fff;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: auto;
}

.menu a {
  border: 2px solid #4db1ae;
  border-radius: 0.5rem;
  padding: 1.6rem;
}
